.intro-page{
    background: linear-gradient(to bottom, #1b021bea 0%, #130913b7 100%), url(../img/img2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
}

.page-title {
    font-weight: bold;
    font-size: 66px;
}


#myVideo {
    width: 100%;
    height: 110vh;
    object-fit: cover;
  }

.video-section{
position: relative;
}

/* Add some content at the bottom of the video/page */
.video-section-content {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #130913b7;
    color: #f1f1f1;
    height: 110vh;
    width: 100%;
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

.video-section-content::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 16px 0 0 0;
    animation: balance 2s ease-in-out .6s infinite alternate;
}
.video-section-content::before {
    content: "";
    position: absolute;
    bottom: 95px;
    right: 95px;
    z-index: 2;
    width: 60px;
    height: 60px;
    background: #dfbae6;
    border-radius: 12px;
    animation: balance 1.8s ease-out 0s infinite alternate;
}

.video-section-content .container{
    max-width: 1000px;
}



.video-section-content .swiper{
    width: 100%;
}

.video-section-content .swiper-slide{
    padding: 20px !important;
}

.video-section-content h1{
    font-weight: bold;
    font-size: 66px;
}


/* Mission Section */
.mission-section{/* 
    background: linear-gradient(135deg, #ffffff 0%, rgba(249,249,239,1) 57%, #ffe8e8 100%); */

}

.mission-card{
    background-color: #f8def8;
    border-radius: 12px;
    padding: 30px;
    margin: 10px;
    text-align: center;
    transition: .4s ease-in;
}


.mission-card:hover{
    background-color: white !important;
}

.mission-card:hover img{
    transition: .4s ease-out;
    transform: scale(1.1);
}


.mission-card h3{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.mission-card p{
    font-size: 13px;
}

.mission-card.first{
    background-color: #e9dee6;
}

.mission-card.second{
    background-color: #fcedfc;
}

.mission-card.third{
    background-color: #ffece7;
}

.mission-card img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}


/* About Section */
.about-section{
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(45deg, rgba(229,205,242,1) 0%, rgba(249,249,239,1) 57%, #ffe8e8 100%);
}

.about-section img{
    border-radius: 12px;
    width: 100%;
    scale: 1;
    transform: rotateZ(0deg);
    transition: .4s ease-in-out;
}

.about-section img:hover{
    scale: .96;
    transform: rotateZ(-2deg);
    transition: .4s ease-in-out;
}


/* Service Section */
.service-section{
    padding-bottom: 10px !important;
}

.service-section img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
.service-card{
    margin: 20px 10px;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #ffffff52;
    box-shadow: 0 0 20px 1px #eae4eb;
    transition: .4s ease-out;
}
.service-card:hover{
    margin-top: -1px;
    border: 1px solid #a1989f52;
    box-shadow: none;
}
.service-card h3{
    font-size: 18px;
    font-weight: 800;
}
.service-card p{
    font-size: 14px;
    line-height: 18px;
}
.service-card .content{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.service-card .content .text-content{
    position: absolute;
    background: linear-gradient(to top, #130913b7 10%, #ffffff00 100%);
    top: 10%;
    left: 0;
    color: white;
    padding: 12px;
    padding-bottom: 0;
    height: 100%;
    display: flex;
    align-items: end;
    transition: .4s ease-out;
    opacity: 0;
}

.service-card .content:hover .text-content{
    top: 0;
    opacity: 1;
}

/* 4ba Section */
.the4ba-section{
    /*  */
}

.the4ba-section .text-content{
    position: relative;
    height: 100%;
    padding: 20px;
}

.the4ba-section  h3{
    font-size: 21px;
    font-weight: 800;
}

.the4ba-section *{
    position: relative;
    z-index: 1;

}

.the4ba-section  .background{
    position: absolute;
    top: 0;
    left: -20px;
    bottom: 0;
    right: 35%;
    background: linear-gradient(45deg, rgba(229,205,242,1) 0%, rgba(249,249,239,1) 57%, #ffe8e8 100%);
    z-index: 0;
    border-radius: 18px;
}
.the4ba-section .section-title{
    font-size: 60px;
    font-weight: 900;
}

.the4ba-section .the4ba-card{
    background-color: white;
    border-radius: 12px;
    border: 1px solid #d7cddaa6;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 28px 1px #e5e0e6da;
    transition: all .4s ease-out;
}

.the4ba-section .the4ba-card:hover{
    box-shadow: 0 0 38px 1px #825388da;
    background-color: #5b104b;
    color: white;
}

.the4ba-section .the4ba-card img{
    width: 150px;
}

.the4ba-section .the4ba-card p{
    margin-bottom: 0;
}


/* Key Figures Section */
.metrics-section{
    color: white;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(to bottom, #5b104ba6 0%, #3a072f 90%), url(../img/img1.jpeg);
    position: relative;
    overflow: hidden;
}
.metrics-section::after {
    content: "";
    position: absolute;
    top: -31px;
    left: -31px;
    z-index: 2;
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 0 0 16px 0;
    animation: balance 2s ease-in-out .6s infinite alternate;
}
.metrics-section div{
    position: relative;
    z-index: 2;
}
.metrics-section::before {
    content: "";
    position: absolute;
    top: 55px;
    left: 55px;
    z-index: 2;
    width: 60px;
    height: 60px;
    background: #dfbae6;
    border-radius: 12px;
    animation: balance 1.8s ease-out 0s infinite alternate;
}
.metrics-section .section-title{
    color: white;
}
.metrics-section .number{
    font-size: 55px;
    font-weight: 800;
}
.metrics-section .metrics-card {
    margin: 20px 10px;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #ffffff2c;
}
.metrics-section .metrics-card h3{
    font-size: 16px;
    margin: 0;
    margin-bottom: 0;
    color: #ffffffb4;
    font-size: 14px;
}
.metrics-section .metrics-card p{
    margin: 0;
    margin: 0;
    margin-bottom: 0;
}
.metrics-section .metrics-card img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}



/* News Letter section */
.newsletter-section{
    background: linear-gradient(to bottom, #3a072f 1%, #5b104bd2 100%), url(../img/illustrations/net1.svg);
    color: white;
    position: relative;
    overflow: hidden;
}
.newsletter-section::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: -20px;
    z-index: 2;
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 16px 0 0 0;
    animation: balance 2.5s ease-in-out .6s infinite alternate;
}
.newsletter-section::before {
    content: "";
    position: absolute;
    bottom: 75px;
    right: 75px;
    z-index: 2;
    width: 60px;
    height: 60px;
    background: #dfbae6b2;
    border-radius: 12px;
    animation: balance 2s ease-out 0s infinite alternate;
}
.newsletter-section .section-title{
    color: white;
}
.newsletter-section input{
    padding: 6px 10px;
    border-radius: 6px;
    color: white;
    background: none;
    border: 1px solid #dd64c1;
}
.newsletter-section input::placeholder{
    font-size: 12px;
    color: #dd64c1;
}
.newsletter-section p{
    color: rgba(255, 255, 255, 0.719);
    font-size: 14px;
}


/* Blog */
.article-card{
    padding: 18px;
    border: 1px solid #a1989f52;
    border-radius: 12px;
    transition: all .4s ease-out;
    margin-bottom: 30px;
}
.article-card a{
    text-decoration: none;
}
.article-card h3 a{
    color: #3a072f;
    transition: all .4s ease-out;
}
.article-card h3 a:hover{
    color: #be399f;
}
.article-card .img-wapper{
    width: 100%;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
}
.article-card img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    transition: all .4s ease-out;
}
.article-card h3{
    margin-top: 20px;
    font-weight: 800;
    font-size: 18px;
}
.article-card p{
    font-size: 12px;
}
.article-card:hover img{
    scale: 1.16;
}
.article-card:hover{
    border: 1px solid #ffffff;
    box-shadow: 0 0 38px 1px #dddaddda;
}
.article-category ul{
    padding: 0;
}
.article-category li a{
    display: inline-block;
    text-decoration: none;
    color: #645761;
    font-size: 12px;
    font-weight: 800;
    background-color: #ddd9dc56;
    color: #645761;
    padding: 3px 10px;
    border-radius: 15px;
    margin: 5px;
    transition: all .3s ease-in;
}
.article-category li{
    list-style: none;
}
.article-category li a:hover{
    background-color: #81246d;
    color: #ffffff;
}
/* Article page */
.article-content-section img {
    width: 100%;
    border-radius: 12px;
}
.article-content-section h2{
    font-size: 18px;
    font-weight: 800;
}
.article-content-section .author-content{
    margin: 0 20px;
    padding: 30px 20px;
    border-radius: 12px;
    border: 1px solid #ffffff52;
    box-shadow: 0 0 20px 1px #eae4eb;
    transition: .4s ease-out;
}
.article-content-section .author-content:hover{
    border: 1px solid #a1989f52;
    box-shadow: none;
}
.article-content-section .author-content img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    text-align: center;
    border-radius: 50%;
}

.article-content-section .author-content p{
    margin-top: 20px;
    font-size: 14px;
}
.article-content-section .author-content h4{
    font-size: 18px;
}
.article-content-section .author-content h5{
    font-size: 12px;
    color: #81246d;
}

/* Contact section */
.contact-section img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
.contact-card{
    margin: 20px 10px;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #a1989f52;
    transition: .4s ease-out;
    text-align: center;
}
.contact-card:hover{
    border: 1px solid #ffffff52;
    box-shadow: 0 0 20px 1px #eae4eb;
}
.contact-card i{
    font-size: 30px;
    color: #6e6c6ea9;
}
.contact-card h3{
    font-size: 18px;
    font-weight: 800;
}
.contact-card p{
    font-size: 14px;
    line-height: 18px;
}

.contact-card a{
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    border-radius: 8px;
    text-decoration: none;
    color: #444344cb;
    border: 1px solid #a1989f52;
}
.contact-card a:hover{
    color: #be399f;
}


.contact-section .map{
    border: 1px solid #a1989f52;
    border-radius: 12px;
    overflow: hidden;
}

.contact-section .map iframe{
    border: 1px solid #a1989f52;
    border-radius: 12px;
    width: 100%;
}


/* Events Section */
.event-card{
    margin: 20px 10px;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #ffffff52;
    box-shadow: 0 0 20px 1px #eae4eb;
    background: #ffffffb7;
    transition: .4s ease-out;
}
.event-card:hover{
    border: 1px solid #a1989f52;
    background: #ffffff00;
    box-shadow: none;
}
.event-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}
.event-card .content{
}
.event-card .info{
    padding-top: 18px;
    border-top: 1px solid #a1989f52;
}
.event-card .category{
    font-size: 12px;
    font-weight: 800;
    background-color: #dd64c156;
    padding: 3px 10px;
    border-radius: 6px;
}
.event-card h3{
    font-size: 24px;
    font-weight: 800;
}
.event-card p{
    font-size: 14px;
    line-height: 18px;
}


/* Partner section */
.partner-section{
    background: linear-gradient(45deg, rgba(229,205,242,1) 0%, rgba(249,249,239,1) 57%, #ffe8e8 100%);
    padding-bottom: 100px !important;
}

.swiper-partners{
    width: 100%;
    overflow: hidden;
}



/* Footer Section */
footer{
    background: linear-gradient(to top, #5b104bd2 0%, #5b104bd2 100%), url(../img/illustrations/net1.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

footer .row{
    padding: 0 20px;
}

footer h3{
    font-size: 21px;
    font-weight: 800;
}
footer ul{
    margin: 0;
    padding: 0;
}
footer li{
    margin: 5px 0;
    list-style: none;
}

footer .col{
    margin-bottom: 40px;
}
footer i{
    margin-right: 10px;
}
footer a{
    color: #e78ad2;
    text-decoration: none;
}
footer p{
    color: #ffffffc9;
}
footer .social-links{
    list-style: none;
}

footer .social-links a{
    font-size: 30px;
    margin-right: 25px;
}

.lax-footer{
    background: #3a072f;
}




/* Animations */

@keyframes balance {
    0%{
        transform: translateY(0px) translateX(0px);
    }
    100%{
        transform: translateY(15px) translateX(15px);
    }
}


/* Media queries */

@media (max-width: 768px) {

    .video-section-content h1{
        font-weight: 800;
        font-size: 35px;
    }

    .page-title{
        font-weight: 800;
        font-size: 35px;
    }

    
    .the4ba-section .text-content{
        padding: 40px;
    }

    
    .the4ba-section  .background{
        top: 0;
        left: 10px;
        bottom: 0;
        right: 10px;
        height: 500px;
    }
}

@media (max-width: 480px) {

    /* Styles for screens smaller than 480px */
    .icologo {
        position: absolute;
        top: 20%;
        left: 30%;
    }

    .logoinfos {
        margin: 80px 0 0 0 !important;
        text-align: center;
    }
}